<h1>Cadastrar Usuário</h1>
<form action="/user/add" method="post">
<label class="form-control">
    <span>Nome</span>
    <input type="text" name="name" id="name" placeholder="Digite o nome">
</label>
<label class="form-control">
    <span>Email</span>
    <input type="email" name="email" id="email" placeholder="Digite o email">
</label>
<input type="submit" value="cadastrar">
</form>